.award-image{
  height: 250px;
}

.awards-container{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex:1;
  justify-content: space-around;
  align-items: center;
}

.award-card{
  margin: 10px;
}

@media only screen and (max-width: 720px){
  .award-image{
    height: 120px;
  }

  .awards-container{
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}