/* .skills-container{
  
} */

.skills{
  display: flex;
  width: 100%;
  flex-direction:column;
}

.skills-section{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.skills-section-title{
  font-size: 20px;
  font-weight: bold;
}

.skills-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  justify-content: flex-end;
  margin-top:40px;
}

@media only screen and (max-width: 720px){
  .skills-list{
    max-width: 100%;
    justify-content: center;
    margin-top: 0px;  
  }

  .skills-section{
    flex-direction:column;
    align-items: center;
    margin-top: 10px;
  }

  .skills-section-title{
    font-size: 16px;
  }
}