.mobile-menu-items{
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: -80px;
  top: 0px;
  
  display: flex;
  flex-direction:column;
  align-items: center;
}

.mobile-menu{
  position: relative;
}

.mobile-menu-items .close-icon{
  margin-left: auto;
  width: 55px;
  font-size: 20px;
}

.mobile-menu-items a{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}


.mobile-menu-item{
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  display: flex;

  margin: 12px 0px;
}

