.body{
  padding: 5%;
  margin: 5%;
  padding-bottom: 36px;
  zoom: 97%;
}

@media only screen and (max-width : 768px){
  .body{
    max-width: 75%;
    padding: 0;
    margin: 0;
    align-items: center;
    margin: auto;
  }
}