.body{
  padding: 5%;
  margin: 5%;
  padding-bottom: 36px;
}

@media only screen and (max-width : 768px){
  .body{
    margin: 2%;
    padding: 4%;
    max-width: 75%;
    align-items: center;
    margin: auto;
  }
}