.header-container{
  display: flex;
  flex:1;
  align-items: center;
}
.header{
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  padding: 0 5% 0 5%;
  top: 0;
  position: fixed !important;
  background: white;
  align-items: center;
  box-shadow: 1px 1px 10px blueviolet;
}

.menu{
  display:flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-icon{
  font-size: 24px;
}

.mobile-menu{
  display: none;
}

.web-menu{
  display: flex;
}

.logo{
  display: flex;
  font-size: 36px;
  color: blueviolet;
  font-weight: 400;
}

@media only screen and (max-width: 760px){
  .mobile-menu{
    display: block;
    margin-right:1%;
  }

  .web-menu{
    display: none;
  }

  .logo{
    font-size: 24px;
  }

  .header{
    top: 0;
    position: fixed !important;
    padding: 2%;
  }
}

@media only screen and (max-width: 1024px){
  .mobile-menu{
    display: flex;
  }

  .web-menu{
    display: none;
  }

  .logo{
    font-size: 24px;
  }

  .header{
    top: 0px;
    position: fixed !important;
    padding: 2%;
  }
}