.testimonials-container{
  margin: 1%;
}

.testimony-details{
  width: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.testimony-comment{
  width: 90%;
  height: 400px;
}

.testimony-name{
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 720px){
  .testimony-comment{
    height: 200px;
  }
  .testimony-name{
    font-size: 12px;
  }
} 

/* .testimonials-carousel{
  
} */